replicaCount: 1

image:
  repository: aithrien/my-microservice
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

# Probes for container health
livenessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 3
  periodSeconds: 5

readinessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 3
  periodSeconds: 5

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}